footer {
  background: $white1;
  min-height: 640px;
  width: 85%;
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: 50% 50%;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  form {
    display: grid;
    gap: 18px;
    padding: 60px 50px;
    grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;

    label {
      display: flex;
      align-items: flex-end;
      font-size: 0.7rem;
      @include title;
      color: $grey3;
    }
    input[type="text"],
    textarea {
      background: none;
      border: 1px solid $grey1;
      border-radius: 4px;
      resize: none;
    }
    .submit-container {
      display: flex;
      align-items: flex-end;
      .btn {
        color: $grey3;
        border: 2px solid $grey3;
      }
    }
  }

  .infos-contact {
    border-left: 1px solid $grey1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    div:nth-child(1) {
      @media screen and (max-width: 700px) {
        border-top: 1px solid $grey1;
        padding-bottom: 20px;
      }
    }

    div {
      border-bottom: 1px solid $grey1;
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;

      h3 {
        @include title;
        font-size: 0.7rem;
        color: $grey3;
      }
      p {
        font-size: 0.8rem;
        line-height: 26px;
        // text-align: left;
        color: $grey3;
      }
    }
    .social {
      ul {
        display: flex;
        // background: red;
        justify-content: space-around;
        // width: 80%;

        li {
          border: 1px solid $grey1;
          border-radius: 150px;
          height: 30px;
          width: 30px;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          color: $grey3;

          @media screen and (max-width: 700px) {
            height: 26px;
            width: 26px;
            font-size: 0.7rem;
          }

          &:hover {
            transform: scale(1.2);
            background: $grey3;
            color: $grey1;
          }
        }
      }
    }
  }
}
